.fraseContainer {
    background-color: #db7c61;
    border:5px solid #111;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.712);
    border-radius: 10px;
}
.fraseContent{
    color:#fff;
    background-color: #db7c61;
    margin:10;
}